--
-- PostgreSQL database dump
--

\restrict A9Di3qQBfIpWfwvQiIahTrVw96APSx7tkDK4z4ngUjlKqQqlAgW3iFuLNaz0IRl

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_email_verification_tokens; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.auth_email_verification_tokens (
    token_hash text NOT NULL,
    user_id text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    used_at timestamp with time zone
);


ALTER TABLE public.auth_email_verification_tokens OWNER TO outfit;

--
-- Name: auth_external_logins; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.auth_external_logins (
    provider text NOT NULL,
    provider_subject text NOT NULL,
    user_id text NOT NULL,
    email text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.auth_external_logins OWNER TO outfit;

--
-- Name: auth_password_reset_tokens; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.auth_password_reset_tokens (
    token_hash text NOT NULL,
    user_id text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    used_at timestamp with time zone
);


ALTER TABLE public.auth_password_reset_tokens OWNER TO outfit;

--
-- Name: auth_sessions; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.auth_sessions (
    id uuid NOT NULL,
    user_id text NOT NULL,
    token_hash text NOT NULL,
    csrf_token_hash text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    revoked_at timestamp with time zone
);


ALTER TABLE public.auth_sessions OWNER TO outfit;

--
-- Name: body_reference_photos; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.body_reference_photos (
    id uuid NOT NULL,
    user_id text NOT NULL,
    image_url text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    object_key text,
    thumbnail_object_key text,
    private_preview_object_key text,
    perceptual_hash text
);


ALTER TABLE public.body_reference_photos OWNER TO outfit;

--
-- Name: garment_items; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.garment_items (
    id uuid NOT NULL,
    user_id text NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    body_zone text NOT NULL,
    image_url text NOT NULL,
    thumbnail_url text NOT NULL,
    tags text[] DEFAULT '{}'::text[] NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    object_key text,
    thumbnail_object_key text,
    processed_cutout_object_key text,
    segmentation_mask_object_key text,
    perceptual_hash text,
    primary_color text,
    secondary_colors text[] DEFAULT '{}'::text[] NOT NULL,
    material text,
    brand text,
    size text,
    season text[] DEFAULT '{}'::text[] NOT NULL,
    weather_min_temp integer,
    weather_max_temp integer,
    occasion text[] DEFAULT '{}'::text[] NOT NULL,
    formality_score integer,
    warmth_score integer,
    comfort_score integer,
    is_favorite boolean DEFAULT false NOT NULL,
    is_archived boolean DEFAULT false NOT NULL,
    last_worn_at timestamp with time zone,
    laundry_status text DEFAULT 'clean'::text NOT NULL,
    CONSTRAINT garment_items_body_zone_check CHECK ((body_zone = ANY (ARRAY['Torso'::text, 'Legs'::text, 'FullBody'::text, 'Feet'::text, 'Head'::text, 'Hands'::text, 'Accessory'::text, 'OuterLayer'::text]))),
    CONSTRAINT garment_items_category_check CHECK ((category = ANY (ARRAY['Top'::text, 'Bottom'::text, 'Dress'::text, 'Outerwear'::text, 'Shoes'::text, 'Bag'::text, 'Accessory'::text, 'Hat'::text]))),
    CONSTRAINT garment_items_laundry_status_check CHECK ((laundry_status = ANY (ARRAY['clean'::text, 'worn'::text, 'washing'::text])))
);


ALTER TABLE public.garment_items OWNER TO outfit;

--
-- Name: outfit_items; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.outfit_items (
    outfit_id uuid NOT NULL,
    garment_id uuid NOT NULL,
    category text NOT NULL,
    CONSTRAINT outfit_items_category_check CHECK ((category = ANY (ARRAY['Top'::text, 'Bottom'::text, 'Dress'::text, 'Outerwear'::text, 'Shoes'::text, 'Bag'::text, 'Accessory'::text, 'Hat'::text])))
);


ALTER TABLE public.outfit_items OWNER TO outfit;

--
-- Name: outfits; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.outfits (
    id uuid NOT NULL,
    user_id text NOT NULL,
    name text NOT NULL,
    clothes_only_preview_url text,
    person_preview_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    tags text[] DEFAULT '{}'::text[] NOT NULL,
    occasion text[] DEFAULT '{}'::text[] NOT NULL,
    is_favorite boolean DEFAULT false NOT NULL,
    is_archived boolean DEFAULT false NOT NULL
);


ALTER TABLE public.outfits OWNER TO outfit;

--
-- Name: scheduled_outfits; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.scheduled_outfits (
    id uuid NOT NULL,
    user_id text NOT NULL,
    date date NOT NULL,
    outfit_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.scheduled_outfits OWNER TO outfit;

--
-- Name: schemaversions; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.schemaversions (
    schemaversionsid integer NOT NULL,
    scriptname character varying(255) NOT NULL,
    applied timestamp without time zone NOT NULL
);


ALTER TABLE public.schemaversions OWNER TO outfit;

--
-- Name: schemaversions_schemaversionsid_seq; Type: SEQUENCE; Schema: public; Owner: outfit
--

CREATE SEQUENCE public.schemaversions_schemaversionsid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schemaversions_schemaversionsid_seq OWNER TO outfit;

--
-- Name: schemaversions_schemaversionsid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: outfit
--

ALTER SEQUENCE public.schemaversions_schemaversionsid_seq OWNED BY public.schemaversions.schemaversionsid;


--
-- Name: share_links; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.share_links (
    token text NOT NULL,
    user_id text NOT NULL,
    outfit_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    revoked_at timestamp with time zone
);


ALTER TABLE public.share_links OWNER TO outfit;

--
-- Name: try_on_jobs; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.try_on_jobs (
    id uuid NOT NULL,
    user_id text NOT NULL,
    outfit_id uuid NOT NULL,
    body_reference_photo_url text NOT NULL,
    status text NOT NULL,
    provider_job_id text,
    output_image_url text,
    error text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    sequential_flow_enabled boolean DEFAULT false NOT NULL,
    consent_accepted_at timestamp with time zone,
    provider_name text,
    provider_request_id text,
    source_body_photo_id uuid,
    retention_until timestamp with time zone,
    is_deleted boolean DEFAULT false NOT NULL,
    try_on_mode text DEFAULT 'SequentialOutfitTryOn'::text NOT NULL,
    confirmed_credits integer DEFAULT 0 NOT NULL,
    cache_key text,
    served_from_cache boolean DEFAULT false NOT NULL,
    source_cached_job_id uuid,
    provider_settings_hash text
);


ALTER TABLE public.try_on_jobs OWNER TO outfit;

--
-- Name: users; Type: TABLE; Schema: public; Owner: outfit
--

CREATE TABLE public.users (
    id text NOT NULL,
    display_name text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    email text,
    normalized_email text,
    password_hash text,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone,
    email_verified_at timestamp with time zone,
    two_factor_enabled boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO outfit;

--
-- Name: schemaversions schemaversionsid; Type: DEFAULT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.schemaversions ALTER COLUMN schemaversionsid SET DEFAULT nextval('public.schemaversions_schemaversionsid_seq'::regclass);


--
-- Data for Name: auth_email_verification_tokens; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.auth_email_verification_tokens (token_hash, user_id, expires_at, created_at, used_at) FROM stdin;
\.


--
-- Data for Name: auth_external_logins; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.auth_external_logins (provider, provider_subject, user_id, email, created_at, last_login_at) FROM stdin;
google	104240365400137263451	usr_11037795d3ff459fa50db6b741720856	dmytro.bolibok@gmail.com	2026-06-24 16:03:42.197035+00	2026-06-24 16:59:44.925483+00
\.


--
-- Data for Name: auth_password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.auth_password_reset_tokens (token_hash, user_id, expires_at, created_at, used_at) FROM stdin;
\.


--
-- Data for Name: auth_sessions; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.auth_sessions (id, user_id, token_hash, csrf_token_hash, expires_at, created_at, revoked_at) FROM stdin;
25321923-84ef-4442-8b72-65916db1e2af	usr_11037795d3ff459fa50db6b741720856	M2Q3xjDHubIsi6l4MmbI_5bX_8pc0Ccvpx3CS3q3F20	iq9mjaM0mrv_SljhG_sg3z4O7vfoBSQdYY28AktzTr0	2026-07-08 16:03:42.197035+00	2026-06-24 16:03:42.197035+00	2026-06-24 16:59:42.784135+00
9e183051-3e44-46b3-9a20-46fc1e0ebb70	usr_11037795d3ff459fa50db6b741720856	TeJ1bD9_SbQJfkT0kezDIoY1K4TZCmFmlAzcGCYrH8Q	L3Vos7rPLAAcql01-c0im2FbLNJTPMuFApZBx6NlAb0	2026-07-08 16:59:44.925483+00	2026-06-24 16:59:44.925483+00	\N
\.


--
-- Data for Name: body_reference_photos; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.body_reference_photos (id, user_id, image_url, created_at, object_key, thumbnail_object_key, private_preview_object_key, perceptual_hash) FROM stdin;
\.


--
-- Data for Name: garment_items; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.garment_items (id, user_id, name, category, body_zone, image_url, thumbnail_url, tags, created_at, object_key, thumbnail_object_key, processed_cutout_object_key, segmentation_mask_object_key, perceptual_hash, primary_color, secondary_colors, material, brand, size, season, weather_min_temp, weather_max_temp, occasion, formality_score, warmth_score, comfort_score, is_favorite, is_archived, last_worn_at, laundry_status) FROM stdin;
\.


--
-- Data for Name: outfit_items; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.outfit_items (outfit_id, garment_id, category) FROM stdin;
\.


--
-- Data for Name: outfits; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.outfits (id, user_id, name, clothes_only_preview_url, person_preview_url, created_at, tags, occasion, is_favorite, is_archived) FROM stdin;
\.


--
-- Data for Name: scheduled_outfits; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.scheduled_outfits (id, user_id, date, outfit_id, created_at) FROM stdin;
\.


--
-- Data for Name: schemaversions; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.schemaversions (schemaversionsid, scriptname, applied) FROM stdin;
1	001_initial_schema.sql	2026-06-24 15:54:38.774558
2	002_try_on_cost_cache.sql	2026-06-24 15:54:38.812379
3	003_delete_archived_garments.sql	2026-06-24 15:54:38.81696
\.


--
-- Data for Name: share_links; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.share_links (token, user_id, outfit_id, created_at, revoked_at) FROM stdin;
\.


--
-- Data for Name: try_on_jobs; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.try_on_jobs (id, user_id, outfit_id, body_reference_photo_url, status, provider_job_id, output_image_url, error, created_at, updated_at, sequential_flow_enabled, consent_accepted_at, provider_name, provider_request_id, source_body_photo_id, retention_until, is_deleted, try_on_mode, confirmed_credits, cache_key, served_from_cache, source_cached_job_id, provider_settings_hash) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: outfit
--

COPY public.users (id, display_name, created_at, email, normalized_email, password_hash, updated_at, last_login_at, email_verified_at, two_factor_enabled) FROM stdin;
demo-user	\N	2026-05-21 23:43:33.002702+00	\N	\N	\N	2026-06-24 15:54:38.572271+00	\N	\N	f
usr_11037795d3ff459fa50db6b741720856	Dmytro Bolibok	2026-06-24 16:03:42.197035+00	dmytro.bolibok@gmail.com	dmytro.bolibok@gmail.com	\N	2026-06-24 16:59:44.925483+00	2026-06-24 16:59:44.925483+00	\N	f
\.


--
-- Name: schemaversions_schemaversionsid_seq; Type: SEQUENCE SET; Schema: public; Owner: outfit
--

SELECT pg_catalog.setval('public.schemaversions_schemaversionsid_seq', 3, true);


--
-- Name: schemaversions PK_schemaversions_Id; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.schemaversions
    ADD CONSTRAINT "PK_schemaversions_Id" PRIMARY KEY (schemaversionsid);


--
-- Name: auth_email_verification_tokens auth_email_verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_email_verification_tokens
    ADD CONSTRAINT auth_email_verification_tokens_pkey PRIMARY KEY (token_hash);


--
-- Name: auth_external_logins auth_external_logins_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_external_logins
    ADD CONSTRAINT auth_external_logins_pkey PRIMARY KEY (provider, provider_subject);


--
-- Name: auth_password_reset_tokens auth_password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_password_reset_tokens
    ADD CONSTRAINT auth_password_reset_tokens_pkey PRIMARY KEY (token_hash);


--
-- Name: auth_sessions auth_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_pkey PRIMARY KEY (id);


--
-- Name: auth_sessions auth_sessions_token_hash_key; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_token_hash_key UNIQUE (token_hash);


--
-- Name: body_reference_photos body_reference_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.body_reference_photos
    ADD CONSTRAINT body_reference_photos_pkey PRIMARY KEY (id);


--
-- Name: garment_items garment_items_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.garment_items
    ADD CONSTRAINT garment_items_pkey PRIMARY KEY (id);


--
-- Name: outfit_items outfit_items_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.outfit_items
    ADD CONSTRAINT outfit_items_pkey PRIMARY KEY (outfit_id, garment_id);


--
-- Name: outfits outfits_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.outfits
    ADD CONSTRAINT outfits_pkey PRIMARY KEY (id);


--
-- Name: scheduled_outfits scheduled_outfits_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.scheduled_outfits
    ADD CONSTRAINT scheduled_outfits_pkey PRIMARY KEY (id);


--
-- Name: scheduled_outfits scheduled_outfits_user_id_date_key; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.scheduled_outfits
    ADD CONSTRAINT scheduled_outfits_user_id_date_key UNIQUE (user_id, date);


--
-- Name: share_links share_links_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.share_links
    ADD CONSTRAINT share_links_pkey PRIMARY KEY (token);


--
-- Name: try_on_jobs try_on_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.try_on_jobs
    ADD CONSTRAINT try_on_jobs_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_auth_external_logins_user_id; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_auth_external_logins_user_id ON public.auth_external_logins USING btree (user_id);


--
-- Name: ix_auth_sessions_active_token_hash; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_auth_sessions_active_token_hash ON public.auth_sessions USING btree (token_hash) WHERE (revoked_at IS NULL);


--
-- Name: ix_auth_sessions_user_id; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_auth_sessions_user_id ON public.auth_sessions USING btree (user_id);


--
-- Name: ix_garment_items_occasion_gin; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_garment_items_occasion_gin ON public.garment_items USING gin (occasion);


--
-- Name: ix_garment_items_season_gin; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_garment_items_season_gin ON public.garment_items USING gin (season);


--
-- Name: ix_garment_items_secondary_colors_gin; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_garment_items_secondary_colors_gin ON public.garment_items USING gin (secondary_colors);


--
-- Name: ix_garment_items_tags_gin; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_garment_items_tags_gin ON public.garment_items USING gin (tags);


--
-- Name: ix_garment_items_user_category; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_garment_items_user_category ON public.garment_items USING btree (user_id, category);


--
-- Name: ix_garment_items_user_created_at; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_garment_items_user_created_at ON public.garment_items USING btree (user_id, created_at DESC);


--
-- Name: ix_outfits_occasion_gin; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_outfits_occasion_gin ON public.outfits USING gin (occasion);


--
-- Name: ix_outfits_tags_gin; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_outfits_tags_gin ON public.outfits USING gin (tags);


--
-- Name: ix_outfits_user_created_at; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_outfits_user_created_at ON public.outfits USING btree (user_id, created_at DESC);


--
-- Name: ix_scheduled_outfits_user_date; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_scheduled_outfits_user_date ON public.scheduled_outfits USING btree (user_id, date);


--
-- Name: ix_try_on_jobs_user_cache_succeeded; Type: INDEX; Schema: public; Owner: outfit
--

CREATE INDEX ix_try_on_jobs_user_cache_succeeded ON public.try_on_jobs USING btree (user_id, cache_key, created_at DESC) WHERE ((status = 'Succeeded'::text) AND (output_image_url IS NOT NULL) AND (is_deleted = false));


--
-- Name: ux_users_normalized_email; Type: INDEX; Schema: public; Owner: outfit
--

CREATE UNIQUE INDEX ux_users_normalized_email ON public.users USING btree (normalized_email) WHERE (normalized_email IS NOT NULL);


--
-- Name: auth_email_verification_tokens auth_email_verification_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_email_verification_tokens
    ADD CONSTRAINT auth_email_verification_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: auth_external_logins auth_external_logins_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_external_logins
    ADD CONSTRAINT auth_external_logins_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: auth_password_reset_tokens auth_password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_password_reset_tokens
    ADD CONSTRAINT auth_password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: auth_sessions auth_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: body_reference_photos body_reference_photos_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.body_reference_photos
    ADD CONSTRAINT body_reference_photos_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: garment_items garment_items_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.garment_items
    ADD CONSTRAINT garment_items_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: outfit_items outfit_items_garment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.outfit_items
    ADD CONSTRAINT outfit_items_garment_id_fkey FOREIGN KEY (garment_id) REFERENCES public.garment_items(id) ON DELETE CASCADE;


--
-- Name: outfit_items outfit_items_outfit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.outfit_items
    ADD CONSTRAINT outfit_items_outfit_id_fkey FOREIGN KEY (outfit_id) REFERENCES public.outfits(id) ON DELETE CASCADE;


--
-- Name: outfits outfits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.outfits
    ADD CONSTRAINT outfits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: scheduled_outfits scheduled_outfits_outfit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.scheduled_outfits
    ADD CONSTRAINT scheduled_outfits_outfit_id_fkey FOREIGN KEY (outfit_id) REFERENCES public.outfits(id) ON DELETE CASCADE;


--
-- Name: scheduled_outfits scheduled_outfits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.scheduled_outfits
    ADD CONSTRAINT scheduled_outfits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: share_links share_links_outfit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.share_links
    ADD CONSTRAINT share_links_outfit_id_fkey FOREIGN KEY (outfit_id) REFERENCES public.outfits(id) ON DELETE CASCADE;


--
-- Name: share_links share_links_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.share_links
    ADD CONSTRAINT share_links_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: try_on_jobs try_on_jobs_outfit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.try_on_jobs
    ADD CONSTRAINT try_on_jobs_outfit_id_fkey FOREIGN KEY (outfit_id) REFERENCES public.outfits(id) ON DELETE CASCADE;


--
-- Name: try_on_jobs try_on_jobs_source_body_photo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.try_on_jobs
    ADD CONSTRAINT try_on_jobs_source_body_photo_id_fkey FOREIGN KEY (source_body_photo_id) REFERENCES public.body_reference_photos(id) ON DELETE SET NULL;


--
-- Name: try_on_jobs try_on_jobs_source_cached_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.try_on_jobs
    ADD CONSTRAINT try_on_jobs_source_cached_job_id_fkey FOREIGN KEY (source_cached_job_id) REFERENCES public.try_on_jobs(id) ON DELETE SET NULL;


--
-- Name: try_on_jobs try_on_jobs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: outfit
--

ALTER TABLE ONLY public.try_on_jobs
    ADD CONSTRAINT try_on_jobs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict A9Di3qQBfIpWfwvQiIahTrVw96APSx7tkDK4z4ngUjlKqQqlAgW3iFuLNaz0IRl

